TEMPLATES_PATH="$HOME/.local/share/debfetcher/packages"
PUBKEY_PATH="$HOME/.local/share/debfetcher/pubkeys"
DB_PATH="$HOME/.local/share/debfetcher/"
CACHE_DIR="$HOME/.cache/debfetcher"
KEEP_OLD=0
DEBFETCHER_INSTALL_DESTDIR="$HOME/.debfetcher/"
DEBFETCHER_BIN_SYMLINK_DIR="$HOME/.debfetcher/bin"
